$text-color: #000;
$background-color: #f9efe7;
$highlight: #ffe872;
$heading-font-stack: 'Abril Fatface', cursive;
$text-font-stack: 'Mulish', sans-serif;

//btn
// $toggle-size: 50px;
// $toggle-line-color: black;
// $toggle-line-focus-color: black;
// $toggle-line-size: $toggle-size/12;
// $toggle-line-angle: 405deg;
// $toggle-anim-speed: 0.9s;
